.about__h1 {
  font-family: "Muller", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #7f38bd;
}

.about__h2 {
  font-family: "Muller", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.about__paragraph {
  margin: 0;
  margin-top: 25px;
  font-size: 14px;
  line-height: 24px;
  color: #5e606a;

}
