.comment {
  padding-top: 10px;
  padding-bottom: 120px;
  overflow: hidden;
  position: relative;
}

.comment__title {
  display: none;
}

.comment__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.comment__item {
  padding: 60px 20px 45px;
  box-shadow: 0 0 10px 0 rgba(81, 8, 86, 0.08);
  border-radius: 10px;
  box-sizing: border-box;
  flex: 0 0 90%;
  margin: 0 5%;
}

.comment__paragraph {
  margin: 0;
  margin-top: 40px;
  font-size: 14px;
  line-height: 24px;
  color: #5e606a;
}

.comment__img {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
}

.comment__user {
  margin: 0;
  margin-top: 30px;
  display: block;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #383d52;
}

.comment__link-user {
  display: block;
  line-height: 30px;
  font-weight: 500;
  color: #3594dd;
  text-decoration: none;
}

.comment__link {
  margin-top: 45px;
  margin-left: 9%;
  cursor: pointer;
  border: none;
  width: 90px;
  height: 14px;
  background: url("../img/left.png") no-repeat;
  outline: none;
}

.comment__link:nth-child(4) {
  margin-left: 47px;
  background: url("../img/right.png") no-repeat;
  width: 92px;
  left: auto;
  right: 14%;
}

@media (min-width: 750px) {
  .comment {
    padding-top: 76px;
  }

  .comment__item {
    display: flex;
    justify-content: space-between;
    padding: 60px 62px 45px;
    flex: 0 0 96%;
    margin: 0 2%;
    max-width: 843px;
  }

  .comment__title {
    display: block;
    margin: 0;
    font-family: "Muller", "Arial", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #7f38bd;
  }

  .comment__list {
    margin-top: 60px;
  }

  .comment__img {
    margin: 0;
    margin-right: 8%;
    flex: 1 0 auto;
    height: max-content;
  }

  .comment__paragraph {
    margin: 0;
  }

  .comment__user {
    margin-top: 0;
  }

  .comment__link {
    margin-top: 45px;
    margin-left: 15px;
  }

  .comment__link:nth-child(4) {
    margin-left: 47px;
  }
}

@media (min-width: 1170px) {
  .comment__list {
    margin-top: 80px;
  }

  .comment__item {
    margin-left: 150px;
    margin-right: 0;
    padding: 60px 85px 45px 76px;
    flex: 0 0 71%;
  }

  .comment__link {
    margin-top: 45px;
    margin-left: 15%;
  }

  .comment__link:nth-child(4) {
    margin-left: 47px;
  }
}
