.container {
  width: auto;
  max-width: 960px;
  padding-left: 4.6%;
  padding-right: 4.6%;
}

@media (min-width: 750px) {
  .container {
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media (min-width: 960px) {
  .container {
    margin: 0 auto;
  }
}

@media (min-width: 1170px) {
  .container {
    // margin: 0 auto;
    max-width: 1140px;
    padding: 0 15px;
  }
}
