.footer {
  padding-top: 47px;
  padding-bottom: 52px;
  background-color: #8b3dd5;
  color: #ffffff;
  text-align: center;
  font-size: 13px;
}

.footer__link {
  color: #ffffff;
}

.footer__paragraph {
  margin: 0;
  margin-top: 30px;
}

.footer__paragraph--desktop {
  display: none;
}

@media (min-width: 750px) {
  .footer {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .footer__paragraph {
    margin: 0;
  }
}

@media (min-width: 1170px) {
  .footer__paragraph--desktop {
    display: block;
    order: -1;
  }

  .footer {
    padding-top: 16px;
    padding-bottom: 15px;
  }
}
