.form {
  padding: 0;
  padding-left: 62px;
  padding-bottom: 55px;
  flex-direction: column;
  color: #ffffff;
  // position: fixed;
  z-index: 30;
  background-color: #883eca;
  top: calc(50% - 185px);
  left: calc(50% - 180px);
  border-radius: 10px;
  box-shadow: 00 23px 32px 0 rgba(81, 8, 86, 0.33);
}

.form--faq,
.form--product {
  margin-top: 53px;
  padding: 43px 7% 55px 7%;
  background-image: url("../img/question.png");
  background-repeat: no-repeat;
  background-position: right 0;
}

.form--product {
  margin-top: 320px;
  padding: 0;
  background: transparent;
  box-shadow: none;
  color: #383d52;
}

.form--product .form__input {
  width: auto;
  margin: 0;
  padding-top: 35px;
  padding-bottom: 0;
  color: #000000;
  border-bottom-color: #cccccc;

  &::placeholder {
    color: #cccccc;
  }
}


@media (min-width: 340px) and (max-width: 749px) {
  .form--faq {
    text-align: center;
  }
}

.form-on {
  display: flex;
  position: fixed;
}

.form-off {
  display: none;
}

.form__title {
  margin: 0;
  margin-top: 5px;

  @media (width: 320px) {
    padding-right: 60px;
  }
}

.form--product .form__title {
  font-size: 20px;
}

.form__button {
  margin: 13px 15px 15px auto;
}

.form__send {
  padding-right: 55px;
  display: flex;
  flex-direction: column;
}

.form__send--faq {
  padding-right: 0;
}

.form__send--product {
  padding: 0;
  position: relative;
}

.form__qwestion {
  font-style: italic;
}

.form__input {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 5px;
  width: 75%;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: inherit;
  border-bottom: 1px solid #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;

  &::placeholder {
    color: #ffffff;
  }
}

.form__input--tel {
  font-style: italic;
  font-weight: 400;
}

.form__submit {
  margin-top: 30px;
}

@media (min-width: 750px) {
  .form--faq {
    padding: 44px 4% 50px 4%;
    background-image: url("../img/question-tablet.png");
    background-repeat: no-repeat;
    background-position: right -62px;
  }

  .form__send--faq {
    flex-direction: row;
    justify-content: space-between;
  }

  .form__input {
    margin: 0;
    padding: 46px 0 0 0;
    width: 180px;
  }

  .form--product {
    margin-top: 70px;
    padding-right: 64%;
  }

  .form__send--product::before {
    content: "";
    position: absolute;
    width: 118px;
    height: 258px;
    top: -88px;
    right: -120px;
    background: url("../img/planer-tablet.png") no-repeat;
  }
}

@media (min-width: 1170px) {
  .form--faq {
    padding: 44px 67px 50px 310px;
    background-position: 30px 0;
  }

  .form--product {
    padding-right: 375px;
  }

  .form__send--product::before {
    content: "";
    position: absolute;
    width: 503px;
    height: 340px;
    top: -235px;
    left: 764px;
    background: url("../img/planer-desktop.png") no-repeat;
  }

  .form__send--product {
    padding-right: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}
